/* 
-----
Fonts
-----
font-family: 'Roboto', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;

*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital@1&family=Nunito+Sans&display=swap");

/* 
-------
globals
-------
*/

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Abel", sans-serif;
  --ff-tertiary: "Nunito Sans", sans-serif;
  --col-white: white;
  --col-off-white: #faf9f6;
  --col-black: black;
  --col-green: green;
  --col-red: red;
  --col-light-grey: #e7ebef;
  --col-med-grey: #adb5bd;
  --col-dar-grey: #687178;
  --col-charcoal-grey: #41474e;
  --col-med-blue: mediumblue;
  --col-orange-red: orangered;
  --col-med-orange: orange;
  --col-light-seashell: #fff2eb;
  --light-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.51);
  --dark-shadow: 22px 22px 15px -10px rgba(0, 0, 0, 0.66);
  --inset-shadow: 4px 5px 6px -2px rgba(0, 0, 0, 0.75) inset;
  --top-shadow: -2px -8px 17px -7px rgba(0, 0, 0, 0.4);
  --text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
  --transition-slow: 1s;
  --transition-med: 0.75s;
  --transition-fast: 0.5s;
  --transition-vfast: 0.25s;
}

body {
  font-family: var(--ff-secondary);
  background-color: var(--col-white);
}

/* 
--------------
Movie Database App
--------------
*/

.spinner {
  position: fixed;
  top: 40%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #0c9726;
}

.spinner h3 {
  margin-top: 10px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--col-med-grey);
  box-shadow: var(--light-shadow);
  overflow: none;
}

nav h1 {
  font-family: var(--ff-primary);
  margin: 0 20px;
  background-color: blue;
  color: var(--col-white);
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: var(--light-shadow);
  transition: 1s;
}

nav h1:hover {
  cursor: pointer;
  color: red;
}

.container {
  width: 98%;
  margin: 20px auto;
  padding: 30px 30px;
  background-color: var(--col-light-grey);
  box-shadow: var(--dark-shadow);
  border-radius: 25px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 20px Auto;
  background-color: var(--col-off-white);
  border-radius: 2px;
  padding: 10px;
  box-shadow: var(--light-shadow);
}

#card-heading {
  font-family: var(--ff-primary);
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--col-light-grey);
  border-radius: 25px;
  color: var(--col-red);
}

.movie-detail {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: top;
  flex-direction: row;
}

.section {
  margin: 0 auto;
  width: 31%;
  background-color: var(--col-white);
}

.poster-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  padding: 10px;
  box-shadow: var(--light-shadow);
}

#poster {
  height: 250px;
  border: 1px solid var(--col-black);
  border-radius: 10px;
  box-shadow: var(--light-shadow);
}

.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 10px;
  box-shadow: var(--light-shadow);
}

.film-data {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-tertiary);
  font-weight: bold;
  border-radius: 2px;
  padding: 10px;
  box-shadow: var(--light-shadow);
}

ul {
  list-style-type: none;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

footer {
  width: 100%;
  height: 150px;
  padding: 10px 10px;
  background-color: darkblue;
  box-shadow: var(--top-shadow);
  overflow: none;
}

footer h3 {
  color: var(--col-white);
}

/* 
-------------
Media Queries
-------------
*/

@media screen and (max-width: 680px) {
  nav footer {
    margin: 0 1%;
  }

  h3,
  h2,
  h1 {
    font-size: 0.8em;
  }

  #card-heading {
    width: 90%;
  }
  .movie-detail {
    align-items: center;
    flex-direction: column;
  }

  .section {
    width: 90%;
    margin-bottom: 7px;
  }

  #poster {
    height: 125px;
  }
}
